header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: solid 1px #CCCCCC;
    font-size: 14px;
}
.logo {
    background: url("../images/logo_.png") no-repeat;
    background-position: left;
    display: block;
    height: 100%;
    margin-left: 20px;
}